
.hide_on_mobile {
    display: block; /* explicitly set display for larger screens */
}

#large_screen_nav{
    display: block;
}

#small_screen_nav{
    display: none;
}

@media screen and (max-width: 996px) {
    .hide_on_mobile {
        display: none;
    }

    #small_screen_nav{
        display: block;
    }

    #large_screen_nav{
        display: none;
    }

    .navbarDropdown{

    }
}